/* page defaults */

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

:root {
    --1st-color: darkslategray;
    --2nd-color: powderblue;
    --3rd-color: lightsteelblue;
}

/* Header */

header {
    background-color: var(--1st-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 10px 100px;
    background-color: var(--2nd-color);
}

header h1 {
    color: var(--1st-color);
    font-size: 3vw;
}

/* - Header Img */

.title img {
    max-height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

/* - Nav Bar */

header nav span {
    margin-right: 15px;
}

header nav span a {
    color: var(--2nd-color);
    text-decoration: none;
    border-bottom: 3px solid var(--2nd-color);
    padding: 5px 10px;
    font-size: 2vw;

}

/* Hero Banner */

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    padding: 15px 100px;
}

.banner h2 {
    padding: 5px;
    background-color: var(--2nd-color);
    font-weight: bold;
    color: var(--1st-color);
}

/* Main Section */

main {
    padding: 15px 100px 15px 50px;
    background-color: var(--3rd-color);
}

article {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.article-work {
    height: 500px;
}

.article-header {
    width: 15%;
    text-align: right;
    padding: 20px;
    font-size: 2.5vw;
    color: var(--1st-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    width: 85%;
    display: flex;
    padding-left: 20px;
    border-left: 5px solid var(--1st-color);
}

/* - About Me */

.article-about {
    flex-direction: column;
    height: 100%;
}

 .article-about p {
    margin-bottom: 10px;
    color: var(--1st-color);
 }

 #about-me {
     height: 200px;
 }

/* - Work */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 100%;
}

#work {
    height: 500px;
}

/* -- Portfolio Grid and Hover Effects */

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 3px solid var(--2nd-color);
    opacity: 0.8;
}

.grid-item:hover {
    opacity: 1;
}

.grid-container a {
    text-decoration: none;
    padding-bottom: 20px;
}

.project {
    background-color: var(--2nd-color);
    text-align: left;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.project-title {
    font-size: calc(8px + 0.4vw);
    font-weight: bold;
}

.project-type {
    font-size: calc(6px + 0.3vw);
}

.item1 {
    background-image: url("../images/run-buddy.png");
    background-position: center;
    background-size: cover;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item2 {
    background-image: url("../images/brew-groove.png");
    background-position: center;
    background-size: cover;
}

.item3 {
    background-image: url("../images/media-election.png");
    background-position: center;
    background-size: cover;
}

.item4 {
    background-image: url("../images/horiseon-refactored.png");
    background-position: center;
    background-size: cover;
}

.item5 {
    background-image: url("../images/met-museum.png");
    background-position: center;
    background-size: cover;
}



/* - Contact Me */

#contact-me {
    height: 100px;
}

.article-contact {
    justify-content: space-between;
    padding-left: 50px;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.article-contact span a {
    text-decoration: none;
    padding: 5px 15px;
    color: var(--1st-color);
    border-bottom: 3px solid var(--1st-color);
}

/* Media Queries */


/* - Above breaks at 885px */

@media screen and (max-width: 884px) {

    /* Default Changes */

    Main {
        padding: 15px 50px;
    }

    /* Header Changes */

    header {
        flex-direction: column;
        padding: 20px;
    }

    .title {
        flex-direction: column-reverse;
        padding: 10px;
        margin-bottom: 20px;
    }

    .title img {
        margin: 5px;
    }

    header nav span a {
        font-size: 3vw;
    }

    /* Hero Changes */

    .banner {
        justify-content: center;
        align-items: center;
    }

    /* Main Section Changes */

    article {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .article-work {
        height: 100%;
    }

    .article-header {
        width: 100%;
        text-align: center;
        padding: 5px;
        font-size: 3.5vw;
        flex-direction: row;
        height: 100%;
        justify-content: center;
    }

    .article-header h3 {
        margin-right: 8px;
    }

    .content {
        width: 100%;
        padding: 0;
        border: none;
        border-top: 5px solid var(--1st-color);
        text-align: center;
        height: 100%;
        padding-top: 10px;
    }

    /* - About Me Changes */

    #about-me {
        height: 100%;
    }

    /* - Work Changes */

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        opacity: 1;
    }

    #run-buddy {
        height: 100px;
    }

    #work {
        height: 100%;
    }

    .project {
        width: 100px;
    }
    /* - Contact Me Changes */

    #contact-me {
        height: 100%;
    }

    .article-contact {
        flex-direction: column;
        font-size: 4vw;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 300px;
    }

    .article-contact span a {
        margin: 50px;
    }

}

/* Media Query to help with spacing on even smaller screens */

@media screen and (max-width: 610px) {

    /* Contact Me Changes */
    
    .article-contact {
        height: 200px;
    }
}